* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

body i {
    color: #000000;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.card {
    /* flex: 1 1 300px; */
    width: 350px;
    height: 420px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(189, 189, 189);
}

.card img {
    width: 220px;
    display: block;
    margin: auto;
}

p:first-child {
    text-align: center;
    margin: 10px 20px 10px 20px;
    min-height: 37px;
}

.sub-info {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 20px;
}

.sub-info p {
    margin: 5px 30px 20px 10px;
    font-size: 1.1rem;
}

.icon {
    margin: 5px 10px 35px 20px;
}

.icon a {
    margin: 5px;
    background: rgb(10, 145, 46);
    padding: 12px;
    border-radius: 20px;
    transition: transform 1s;
}

.icon a i {
    color: #ffffff;
}

.icon a i:hover {
    width: 70px;
}

.icon a i span {
    display: none;
    font-family: Arial;
}

.icon a i:hover span {
    display: inline;
    margin-left: 20px;
}
.top {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}
/* .star {
    margin: 20px;
} */

.star i {
    color: orange;
    font-size: 17px;
}
.offer {
    background: #d90000;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
}
